@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: rgb(248 250 252);
  --primary-100: rgb(241 245 249);
  --primary-200: rgb(226 232 240);
  --primary-300: rgb(203 213 225);
  --primary-400: rgb(148 163 184);
  --primary-500: rgb(100 116 139);
  --primary-600: rgb(71 85 105);
  --primary-700: rgb(51 65 85);
  --primary-800: rgb(30 41 59);
  --primary-900: rgb(15 23 42);
  --primary-950: rgb(2 6 23);
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  scroll-behavior: smooth !important;
  border-color: #eaecf0;
}

/* Scrollbar start */

.hide-sidebar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: var(--primary-200);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-300);
}
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-400);
}
/* Scrollbar End */

.pageContainer {
  @apply px-4 sm:px-8 md:px-12 lg:pl-[50px] lg:pr-[79px];
}

.spinner {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3.8px solid;
  border-color: #dbdcef;
  border-right-color: #5d659e;
  animation: spinner-d3wgkg 0.6s infinite linear;
}
.customInputCSS {
  border-radius: 8px;
  border: 1px solid var(--primary-300, #ccd5df);
  border: 1px solid var(--primary-300, color(display-p3 0.8144 0.8349 0.8656));
  background: var(--White, #fff);
  background: var(--White, color(display-p3 1 1 1));

  /* Shadow/xs */
  box-shadow: 0px 1px 2px 0px rgba(14, 24, 41, 0.05);
  box-shadow: 0px 1px 2px 0px color(display-p3 0.0627 0.0941 0.1569 / 0.05);
}
@keyframes spinner-d3wgkg {
  to {
    transform: rotate(1turn);
  }
}

.popupmodalblur {
  background: rgba(18, 18, 18, 0.3);
  background: color(display-p3 0.0706 0.0706 0.0706 / 0.3);
  backdrop-filter: blur(2.5px);
}
